body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.header-bg{
    background-color:#264653;
}
.grayscale img{
    filter: grayscale(1);
}
.spacing{
    margin-top: 200px;
    margin-bottom: 100px;
}